    @{
        ViewBag.Title = "Unauthorised Request";
    }

<style>
    body {
        font-family: fantasy;
    }

    .four-zero-three {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
    }

    .four-zero-three__inner {
        padding: 20px;
    }

    .four-zero-three__title {
        color: #000;
        font-size: 5rem;
    }

    .four-zero-three__desc {
        color: #e41919;
        font-size: 2.5rem;
    }

    .four-zero-three__content {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
 
</style>

    <div class="four-zero-three">
        <div class="four-zero-three__inner">
            <div class="four-zero-three__title">403</div>
            <div class="four-zero-three__desc">Access Denied</div>
            <div class="four-zero-three__content">You do not have permission to access the requested resource due to security restrictions.  In order to gain access, please speak to your system administrator.</div>
        </div>
    </div>